body{
  background-color:  hsl(217, 54%, 11%);
  padding: 6% 30%;
  text-align: left;
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
}

h2{
  color:  hsl(0, 0%, 100%);
  font-size: 1.4rem;
  font-weight: 600;
}

h3{
  color: hsl(178, 100%, 50%);
  font-size: 1.1rem;
  font-weight: 400;
}

hr{
  color: hsl(215, 32%, 27%);
  border-style: solid;
  border-top-width: medium;
}

p{
  color: hsl(215, 51%, 70%);
  font-size: 1rem;
}

.container{
  width: 300px;
  height: 530px;
  border-radius: 10px;
  background-color: hsl(216, 50%, 16%);
  padding: 20px 30px;
  box-shadow: 0 20px 20px 10px hsl(217, 54%, 11%);
  opacity: 1;
}

.image-div{
  width: 100%;
    height: 260px;
    margin: 0;
    padding: 0;
    background-image: url(images/image-equilibrium.jpg);
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    position: relative;
}

.image-div::before{
    content: "";
    border-radius: inherit;
    width: inherit;
    height: inherit;
    position: absolute;
}

.image-div:hover::before{
  background-image: url(images/icon-view.svg);
  background-color: hsl(178, 100%, 50%);
  opacity: 0.6;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.inner-div{
  width: 100%;
}

.name{
  color: #fff;
  padding-left: 7px;
}

.row{
  height: 100%;
}

.item:hover{
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.text-div{
  height: 230px;
  padding: 15px 0 0 0;
  margin: 0;
}

.in-flex{
  display: inline-flex;
}

.para2{
  position: relative;
  left: 60px;
}

.pic2{
  width: 15%;
  border: solid white;
  border-radius: 50%;
}


@media (max-width: 375px) {
  body{
    padding: 50px 20px;
  }

  .container{
    border-radius: 15px;
  }
}
